.navbar-nav{
  margin-left: auto;
  font-weight: 550;
  
}

.nav-item >a:hover{
      border-bottom: 2px solid black;
      
}
.sticky-top{
  background-color: rgb(247, 247, 247);
}
.para__1{
  padding-top: 13%;
  margin-right: -110px;
  position: relative;
  
  
}
.bold__1{
  font-weight: 400;
}
.hr__1{
  height: 2px!important;
  color: black!important;
}
.cardimg__1{
  height: 60vh;
}
.embed-responsive-item{
  border-radius: 10px;
}
.accordion-item {
  border: none!important;
  
  background-color: rgb(247, 247, 247);
}
.accordion-button{
  background-color: rgb(247, 247, 247);
  border-bottom: 2px solid gray;
}

.carousel-control-prev{
  
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 10%;
  border: 2px solid black;
}
.carousel-control-next{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 5%;
  margin-right: 10%;
  border: 2px solid black;
}
.vl{
  border-right: 1px solid rgb(146, 146, 146);
  height: 100%;
  
}

.SearchBar input {
  
  width: 30%; 
}
.hr__2{
  height: 3px!important;
  
}

/*--media-----*/
@media only screen and (max-width: 280px) {
  .container{
    padding-top: 0!important;
    
  }
  
}


/*@media only screen and (min-width: 768px) {...}*/


@media only screen and (min-width: 992px) {
  .foot__1{
    margin-left: 85%;
  }
  .img__4{
    margin-right: 30%;
  }
  
}


